$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    color: rgba(0, 0, 0, 0.6);
    input{
      height: 20px;
      padding : 10px;
      outline: none;
      border : 2px solid rgba(0, 0, 0, 0.4);
      border-radius : 5px;
    }
    input:focus{
      border : 2px solid rgb(77,77,196);
    }
    ::placeholder{
      color : rgba(0, 0, 0, 0.6);
      font-size: 14px;
    }
  }